# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.vscode/

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Rider
.idea/

# ASP.NET temporary files
wwwroot/**/*.bundle
wwwroot/**/*.min.js
wwwroot/**/*.min.css

# Log files
*.log

# Publish output
publish/
